#@@ a = function() far.Message('init') end

string1
string1
string1
string2

string3
string5

@@push(34)@@

print something
here i @@return 'am'@@ 

print several numbers
@@ for i=1,9 do push(tostring(i),i%3~=0) end @@

now, call predefined function
@@ a() @@

